@(message: String, result: List[models.sns.MessageModel])

@import java.util.Date
@import play.i18n._
@import utils.cmn.Session

@*****************************
* 定数定義                   *
*****************************@

@*****************************
* 関数定義                   *
*****************************@
@getTitle(name: String, url: String) = {
	<a href="@url" class="">
		<img src="@routes.Assets.versioned("/images/icon/admin.png")" width=32 height=32>&nbsp;@name
	</a>
}

@*****************************
* 本体定義                   *
*****************************@
@main("Session Index", Messages.get("bookmark.list")) {

<link rel="stylesheet" href="@routes.Assets.versioned("/sfusion/css/line.css")">

<div class="container">
	<h5></h5>
	<div class="col-lg-2">
		<div class="bs-component">
			<div class="navbar-header navbar-brand">
				@getTitle("メッセージ", "/message/index")
			</div>
		</div>
	</div>
	<div class="col-lg-10">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#home" data-toggle="tab">タイムライン</a></li>
			<li><a href="#whois"" data-toggle="tab">プロファイル</a></li>
			<li><a href="#whois"" data-toggle="tab">フォロー</a></li>
			<li><a href="#whois"" data-toggle="tab">フォローワ</a></li>
			<li><a href="#whois"" data-toggle="tab">コミュニティ</a></li>
		</ul>
	</div>
</div>

<div style="background-color: #7897C5;">
	<h5></h5>
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="row breadcrumb">
					<div class="col-lg-11">
						<ul class="breadcrumb navbar-nav navbar-right">
							<form class="navbar-form" role="search" name="sendForm" action="/message/send" method="POST">
							<li>
								<div class="form-group right_balloon">
									<textarea class="form-control input-sm" name="message" rows="2" cols="40" id="textArea"></textarea>
									<a class="" href="javascript:document.forms['sendForm'].submit();">
										<img src="@routes.Assets.versioned("/images/icon/send.png")" width=32 height=32 />
									</a>
								</div>
			  				</li>
							</form>
				  			</ul>
					</div>
					<div class="col-lg-1" style="text-align:center">
						<img src="/assets/images/icon/admin.png" width=64 height=64>
					</div>
				</div>
					<div class="bs-component">
				@for(model <- result) {
					@if(model.accountId=="miyazaki") {
						<div class="row">
							<ul class="nav navbar-nav navbar-right">
								<li><p class="right_balloon">@Html(model.message)</p>
								</li>
								<li><img src="/assets/images/icon/admin.png" width=32 height=32></li>
							</ul>
						</div>
						<div class="row">
							<ul class="nav navbar-nav navbar-right">
								<li>@model.accountId</li>
								<li>10分前</li>
							</ul>
						</div>
					} else {
						<div class="row">
							<ul class="nav navbar-nav navbar-left">
								<li><img src="/assets/images/icon/info.png" width=32 height=32></li>
								<li><p class="left_balloon">@Html(model.message)</p></li>
							</ul>
						</div>
						<div class="row">
							<ul class="nav navbar-nav navbar-left">
								<li>@model.accountId</li>
							</ul>
						</div>
					}
				}
				<br class="clear_balloon"/>
			</div>
			</div>
			<div class="col-lg-4">
				<div class="panel panel-primary">
					<div class="panel-heading">あああああ</div>
					<div class="panel-body">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#home" data-toggle="tab">検索</a></li>
							<li><a href="#whois"" data-toggle="tab">ニュース</a></li>
							<li><a href="#whois"" data-toggle="tab">画像</a></li>
							<li><a href="#whois"" data-toggle="tab">動画</a></li>
						</ul>
						<div id="myTabContent" class="tab-content">
							<div class="tab-pane fade active in" id="home">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
}
