@()

@import models.adm.MenuModel
@import consts.cmn.CommonConstraint
@import play.cache.Cache
@import java.util.List

@*****************************
* 定数定義                   *
*****************************@

@*****************************
* 変数定義                   *
@result1 = @{ (List<MenuModel>) Cache.get("session.menu1") }
@result2 = @{ Cache.get("session.menu2") }
*****************************@
@result1 = @{ MenuModel.getList("MENU1") }
@result2 = @{ MenuModel.getList("MENU2") }

@*****************************
* 関数定義                   *
*****************************@
@display(actionType: String, url: String, imageIcon: String, name: String) = {
	@actionType match {
		case "url"		=> {<li><a href="@url"><img src="@imageIcon" width=@CommonConstraint.C_SIZE_ICON_SM height=@CommonConstraint.C_SIZE_ICON_SM />&nbsp@name</a></li>}
		case "iframe"	=> {<li><a href="/url?url=@url"><img src="@imageIcon" width=@CommonConstraint.C_SIZE_ICON_SM height=@CommonConstraint.C_SIZE_ICON_SM />&nbsp@name</a></li>}
		case "div"	 	=> {<li class="divider"></li>}
		case _			=> {}
	}
}
@*****************************
* 本体定義                   *
*****************************@
<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a href="/portal/index/home" class="navbar-brand">@CommonConstraint.C_SYSTEM_NAME</a>
		</div>
		<div class="navbar-collapse collapse" id="navbar-main">
			<ul class="nav navbar-nav">
				@for(menu1 <- result1) {
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">
							<img src="@menu1.imageIcon" width=@CommonConstraint.C_SIZE_ICON_XS height=@CommonConstraint.C_SIZE_ICON_XS />&nbsp@menu1.name<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" aria-labelledby="themes">
							@for(children <- MenuModel.getListChildren(menu1.id, menu1.menuType)) {
								@display(children.actionType,children.url,children.imageIcon,children.name)
							}
						</ul>
					</li>
				}
        	</ul>

			<ul class="nav navbar-nav navbar-right">
          		@for(menu2 <- result2) {
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">
							<img src="@menu2.imageIcon" width=@CommonConstraint.C_SIZE_ICON_XS height=@CommonConstraint.C_SIZE_ICON_XS />&nbsp@menu2.name
							<span class="badge">10</span>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" aria-labelledby="themes">
							@for(children <- MenuModel.getListChildren(menu2.id, menu2.menuType)) {
								@display(children.actionType,children.url,children.imageIcon,children.name)
							}
						</ul>
					</li>
				}
        	</ul>
		</div>
	</div>
</div>