@(id :Integer, title :String, parameter: java.util.HashMap[String, String], activeFlg: Boolean)

@import play.i18n._
@import utils.cmn.RSS
@import java.util.UUID

@*****************************
* 変数定義                   *
*****************************@
@portletId = @{"embedContent" + id.toString()}

@*****************************
* 関数定義                   *
*****************************@
@display(itemType: String, value: String) = {
	@itemType match {
		case "youtube"		=> {<iframe src="//www.youtube.com/embed/@value" frameborder="0" allowfullscreen></iframe>}
		case "slideshare"	=> {<iframe src="//www.slideshare.net/slideshow/embed_code/key/@value" allowfullscreen></iframe>}
		case _				=> {@value}
	}
}

@active(activeFlg: Boolean) = {
	@if(activeFlg) {in}
}

@*****************************
* 本体定義                   *
*****************************@
<style type='text/css'>
.iframe-embed {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 2px;
	height: 0;
	overflow: hidden;
	margin-top: 2px;
	margin-bottom: 2px;
}

.iframe-embed iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 200;
	height: 100%;
}
</style>

<div class="panel panel-primary">
	@if(title!=""){
		<div class="panel-heading">
			<a class="bg-primary" data-toggle="collapse" data-parent="#accordion" href="#@portletId" class="collapsed">
				@title
			</a>
		</div>
	}
	<div id="@portletId" class="panel-collapse collapse @active(activeFlg)">
		<div class="panel-body">
			<div class="iframe-embed text-center">
				@display(parameter.get("type"), parameter.get("key"))
			</div>
		</div>
	</div>
</div>