@(title: String, tableName: String, data: List[java.util.HashMap[String, String]], col: List[models.dbx.TableColumnModel], page: Integer, maxPage: Integer)

@import java.util.Date
@import play.i18n._
@import java.util.HashMap
@import collection.JavaConversions._
@import utils.cmn.Session
@import consts.cmn.CommonConstraint
@import consts.dbx.TableDataConstraint
@import forms.dbx.TableDataForm
@import views.html.cmn.incPagination

@*****************************
* 定数定義                   *
*****************************@
@C_URL_INDEX  = @{"/database/" + tableName + "/index"}
@C_URL_SEARCH = @{"/database/" + tableName + "/search"}
@C_URL_LIST   = @{"/database/" + tableName + "/list"}
@C_URL_DETAIL = @{"/database/" + tableName + "/detail"}
@C_URL_EDIT   = @{"/database/" + tableName + "/edit"}

@search = @{ TableDataForm.getItemSearch(tableName, Session.get(TableDataConstraint.C_SESSION_SEARCH_WORD)) }

@*****************************
* 関数定義                   *
*****************************@

@getTitle(name: String, url: String, icon: String) = {
	<a href="@url" class="">
		<img src="@routes.Assets.versioned(icon)" width=@CommonConstraint.C_SIZE_ICON_SM height=@CommonConstraint.C_SIZE_ICON_SM>&nbsp;@name
	</a>
}

@display(itemType: String, value: String) = {
	@itemType match {
		case "image"	=> {<img src="@value" width=25 height=25 />@value}
		case "url"	 	=> {<a href="@value" target="new">@value</a>}
		case _			=> {@value}
	}
}

@*****************************
* 本体定義                   *
*****************************@
@main(title, null) {
<div class="container">
	<div class="row">
		<div class="bs-component">
			<div class="navbar-header navbar-brand">
				@getTitle(title + " [" + Session.get("session.displayName") + "]", C_URL_INDEX, TableDataConstraint.C_ICON)
			</div>
			<ul class="nav nav-pills navbar-right">
				<li>
					<form class="navbar-form navbar-left" role="search" name="searchForm" action="@C_URL_SEARCH" method="POST">
						<div class="form-group">
							<input type="hidden" name="tableName" value="@tableName">
							@for(model <- search) {
								<input type="text" placeholder="@model.name" name="@model.id" class="form-control input-sm" value="@model.value">
							}
							<a href="javascript:document.forms['searchForm'].submit();">
								<img src="@routes.Assets.versioned("/images/icon/search.png")" width=32 height=32 />
							</a>
							<a class="btn btn-default btn-sm" href="javascript:document.forms['searchForm'].submit();">
								CSV作成
							</a>
							<a class="btn btn-default btn-sm" href="@C_URL_EDIT/0">
								@Messages.get("common.button.create")
							</a>
						</div>
					</form>
				</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			@if(data != null) {
			<table class="table table-striped table-hover table-bordered table-condensed">
				<thead>
				<tr class="@CommonConstraint.C_THEMA_CLASS">
					@for(head <- col) {
						<th>@head.displayName</th>
					}
					<th>&nbsp;</th>
				</tr>
				</thead>
				<tbody>
				@for(model <- data) {
					<tr>
					@for(column <- col) {
						@if(column.columnName.equals("id")) {
							<td width="32">
								<a class="btn btn-default btn-xs" href="@C_URL_DETAIL/@model.get("id")">
									@model.get("id")
								</a>
							</td>
						} else {
							<td>
								@display("text",model.get(column.columnName))
							</td>
						}
					}
							<td width="32">
								<a href="@C_URL_EDIT/@model.get("id")">
									<img src="@routes.Assets.versioned("/images/icon/edit.png")" width=25 height=25 />
								</a>
							</td>
					</tr>
				}
				</tbody>
			</table>
			<div class="bs-component navbar-right">
				@incPagination(page, maxPage, C_URL_LIST)
			</div>
			} else {
			<div class="alert alert-warning">
				<span>@Messages.get("common.nodatafound")</span>
			</div>
			}
		</div>
	</div>
</div>
}
